<footer class="footer footer-horizontal footer-center bg-base-200 py-10 px-10">
  <aside>
    <p class="!text-center text-base-content/60">
      Copyright © {new Date().getFullYear()} - Theme crafted by <a
        class="link"
        href="https://lauroguedes.dev"
        target="_blank"
        >Lauro Guedes</a> refined by Jakob Fender
    </p>
  </aside>
</footer>
